<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Accueil</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron text-center">
        <h1>Bienvenue sur CharityConnect</h1>
        <p class="lead">Aidez-nous à changer le monde, un don à la fois.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/api/actions/liste" role="button">Voir les actions</a>
    </div>
</div>
</body>
</html>